form {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 17px;
    font-family: "Nunito Sans", sans-serif;
    color: coral;
    align-items: center;
}

.error {
    color: white;
    font-size: 12px;
    font-family: Arial;
    margin-left: 0.5rem;
}

input[type="text"], [type="password"] {
    width: 75%;
    padding: 6px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    resize: vertical;
}

.button {
    height: 3.5vw;
    width: 20vw;
    margin-left: 0rem;
    margin-top: 1rem;
    background-color: #000039;
    border-radius: .5em solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 20px;
}

.button:hover {
    color: #ff1476;
    transition: 450ms ease;
}